@import "./reset.css";

:root {
    --app-dark-bg: #201c22;
    --app-font-color: #f2f4f6;

    /* COLORS */

    --app-blue: #09f;
    --app-green: #9f0;
    --app-orange: #f90;
    --app-pink: #f09;
    --app-purple: #90f;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-dark-bg);
    /* background-image: url('./img/background.jpg');  */
    background-size: contain;
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - -
                HEADER
- - - - - - - - - - - - - - - - - - - - */

.title {
    user-select: none;
    color: #ffa527;
    margin-left: 50px;
}

.title, a {
    font-size: 24px;
    height: 40px;
    font-weight: 600;
    font-family: inherit;
    line-height: 50px;
    text-decoration: none;
}

header a {
    font-size: 20px;
    font-weight: 200;
    position: relative;
    padding: 1px 0;
}

header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }

:hover::after, header a:focus::after {
    opacity: 1;
    transform: translate3d(0, 1px, 0);
}

header a {
    color: #fff;
}

li {
    display: inline;
    overflow: auto;
}

li + li {
    margin-left: 20px;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    background: linear-gradient(to top left, #26162875, #2c1a2e75);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: absolute;
    top: 0;
    justify-content: space-between;
}

.user {
    border: 1px solid rgb(71, 50, 72);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    cursor: pointer;
    background: url('./img/favicon.png');
    background-size: contain;
}

/* - - - - - - - - - - - - - - - - - - -
                MODAL                               /////// DOES NOT FUNCTION ////////
- - - - - - - - - - - - - - - - - - - - */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.4); /* Black w/ opacity */
  }

.modal-body {
    padding: 2px 16px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

/* - - - - - - - - - - - - - - - - - - -
                FORM
- - - - - - - - - - - - - - - - - - - - */

.wrapper-main {
    margin: 0 30vw;
    padding: 10px;
}

.post {
    margin: 100px 0 0;
    padding: 10px;
    height: 200px;
    background-color: #262229;
    border-radius: 5px;
    color: var(--app-font-color);
}

textarea {
    display: flex;
    width: 100%;
    height: 140px;
    padding: 10px;
    background-color: #262229;
    border-radius: 5px;
    color: var(--app-font-color);
    resize: none;
}

textarea::placeholder{
    color: var(#3f3f4a);
}

button {
    padding: 8px;
    width: 60px;
    color: var(--app-font-color);
    background-color: #ffa527;
    border-radius: 5px;
    float: right;
}

/* - - - - - - - - - - - - - - - - - - -
                WRAPPER
- - - - - - - - - - - - - - - - - - - - */

.wrapper {
    margin: 0;
    width: auto;
}

.header-post {
    display: inline-block;
}

h3 {
    margin-left: 5px;
}

.newPost {
    padding: 10px 10px;
    margin: 10px 0;
    height: 130px;
    background-color: #917d95;
    border: 1px solid #0000;
    border-radius: 5px;
    color: #000;

    /* Transition for deleting */
    transition: all 0.3s;
    animation: 0.5s ease-out 0s 1 loadIn;
}

.newPost p {
    font-size: 14px;
}

.userImage {
    border: 1px solid rgb(71, 50, 72);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: url('./img/favicon.png');
    background-size: contain;
}

.imageStyle {
    border-radius: 5px;
}

/* - - - - - - - - - - - - - - - - - - -
            ANIMATION
- - - - - - - - - - - - - - - - - - - - */

@keyframes loadIn {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }    
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes animatetop {
    from {
        top: -300px; opacity: 0
    }
    to {
        top: 0; opacity: 1
    }
  }